.blog{
  font-family: "Cormorant Garamond" ,'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: justify;
  hyphens: auto;
}
